@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #17283d;
  --blue-dark: #2d313d;
  --blue-light: #9ab5b8;
  --white: #f9faf5;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --icon-size-sm: 1.5rem;
  --icon-size-lg: 4rem;
}

body {
  color: var(--white);
  background-color: var(--blue);
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-md);
  font-weight: 400;
}

h3 {
  font-size: var(--font-size-base);
  font-weight: 400;
}

section {
  background-color: var(--blue);
  min-height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.svg-inline--fa {
  font-size: var(--icon-size-sm);
}

/* media query */
@media screen and (max-width: 768px) {
  section {
    width: 100vw;
  }
}
