header {
  background-color: var(--blue-dark);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

  .svg-inline--fa {
    font-size: 1.8rem;
  }
}
