.song-list-item-image {
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--blue-light);
}

.player-section-image {
  height: 23rem;
  width: 23rem;
}

/* media query */
@media screen and (max-width: 480px) {
  .player-section-image {
    height: auto;
    width: 100%;
  }
}
