.player-section {
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .fa-circle-play {
    font-size: var(--icon-size-lg);
  }
}

/* Child components of player section */
.play-buttons,
.song-info,
.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
