.player-section {
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .svg-inline--fa {
    font-size: 1.8rem;
  }

  .fa-circle-play {
    font-size: 4rem;
  }
}

.play-buttons,
.title-box,
.time-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
