.progress-bar {
  background: var(--blue-dark);
  border-radius: 13px;
  height: 0.8rem;
  width: 85%;
}

.progress-bar:after {
  content: '';
  display: block;
  background: var(--white);
  width: 20%;
  height: 100%;
  border-radius: 9px;
}
