.progress-bar {
  background: #2d313d;
  border-radius: 13px;
  height: 0.8rem;
  width: 85%;
}

.progress-bar:after {
  content: '';
  display: block;
  background: #f9faf5;
  width: 20%;
  height: 100%;
  border-radius: 9px;
}
