.song-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--blue-dark);
}

.song-list-item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
